* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px 156px;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
  position: relative;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}

.basicLightbox__placeholder > img:first-child:last-child {
  width: 1112px;
  height: 640px;
}
.basicLightbox__placeholder {
  position: relative;
}

.basicLightbox__placeholder .next {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}
.basicLightbox__placeholder .prev {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}
